#title{
    color: white;
}

.img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.name{
    background: linear-gradient(to right,blue,white);
}

.cv{
    background: linear-gradient(to right,white,black);
}

.img img{
    box-shadow: 2px 3px 2px 3px;
}