
<h1>{{title}}</h1>
<p>Bienvenido a  {{title}}</p>

{{#if logeado}}
<p>Bienvenido {{usuario}}</p>
<form action="/" method="get">
    <button><p>Presentarse denuevo</p></button>
</form>
{{/if}}

{{#unless usuario}}
<form action="/" method="post">
    <p>Ingrese aqui su nombre:</p>
    <input type="text" name="username">
    <button><p>Enviar</p></button>
</form>
{{/unless}}


