header{
    background-color: rgb(252,228,77);
}

header h1 {
    color: white;
    font-size: 40px;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}