<div class="container" style="margin:50px auto">
    <div class="row">
            <p class="text-right">{{usuario}} inicio sesion!</p>
            <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
    </div>
</div>