
{{#unless confirm}}

  <form action="/login/forgotPassword" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="inputUser" name="username" placeholder="Introduce tu usuario">
    </div>
    <button type="submit" class="btn btn-primary">Este es mi usuario</button>
  </form>
{{/unless}}


{{#if confirm}}
    <form action="/login/forgotPassword/confirm" method="post">
        <input type="hidden" name="id" value="{{idUsuario}}">
        <div class="mb-3">
        <label for="password" class="form-label">Contrase単a</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Introduce tu contrase単a">
        <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Repita su contrase単a">
        </div>
        <button type="submit" class="btn btn-primary">Cambiar contrase単a</button>
    </form>
{{/if}}

{{#if error}}
    <p>{{message}}</p>
{{/if}}
